// Contains App Bar Stylings

@use 'colors';
@use 'layout';

// Define Sizings
$height: 32px;
$padding: layout.$default-margin * 2;
$bg-color: black;
$fg-color: white;

.app-bar {
    background-color: $bg-color;
    color: $fg-color;
    height: $height;
    margin: 0;
    border: 0;
    padding: $padding;
}

.app-bar {
    h1,h2,h3,h4,h5,h6,p {
        margin: 0;
    }
}