// Contains the content cards

@use "sass:map";

@use 'colors';
@use 'layout';

$border-radius: 5px;

// @TODO consider splitting this out into several cards
.content-card {
    border-radius: $border-radius;
    border: 1px solid colors.$border-color-light;
    padding: (layout.$default-margin * 2);
    min-width: layout.$min-width;
    margin: layout.$default-margin (layout.$default-margin*2) layout.$default-margin 0;
    @media only screen and (prefers-color-scheme: dark) {
        & {
            border-color: colors.$border-color-dark;
        }
    }
    body[dark] & {
        border-color: colors.$border-color-dark;
    }
    &.set-width {
        width: layout.$default-width;
    }
    &.no-border {
        border: 0;
    }
    &.no-rounded-corners {
        border-radius: 0;
    }
    &.no-padding {
        padding: 0;
    }
    &.shadow {
        box-shadow: 0 1px 5px colors.$shadow-color;
        margin-left: 5px;
        margin-right: 5px;
    }
    // Fixes child elements not having rounded corners
    .round-top-corners {
        border-top-left-radius: $border-radius;
        border-top-right-radius: $border-radius;
    }
    .round-right-corners {
        border-top-right-radius: $border-radius;
        border-bottom-right-radius: $border-radius;
    }
    .round-bottom-corners {
        border-bottom-left-radius: $border-radius;
        border-bottom-right-radius: $border-radius;
    }
    .round-left-corners {
        border-top-left-radius: $border-radius;
        border-bottom-left-radius: $border-radius;
    }
}

.content-square {
    @extend .content-card;
    border-radius: 0;
    width: layout.$default-width;
    height: layout.$default-width;
}