// Lists all colors

@use 'sass:map';
@use 'sass:color';
// This theme makes use of n-many accent colors, but will likely make use of the lowest indexed elements more often
$accent-colors: (1:#BBE524, 2:#2682A6, 3:#FF230F, 4:#FB9902);
$dark-color: #F0F7D4;

// Error and Warning
$error-color: #FF230F;
$warn-color: #FFC30F;

// These colors define the background and foreground colors
// $background-color-dark: #002C3D;
$background-color-dark: #111;
$background-color-light: white;

// Text Colors
$text-color-dark: white;
$text-color-light: black;

// UI Colors
$highlight-color: #FFFF00;
$hr-color: #999;
$shadow-color: #aaa;

// Calculated colors to use for the application
$link-color-normal: color.adjust(map.get($accent-colors, 1), $lightness: -20%);
$link-color-hover: map.get($accent-colors, 1);

// Constants

$grays: (
    1: #111,
    2: #222,
    3: #333,
    4: #444,
    5: #555,
    6: #666,
    7: #777,
    8: #888,
    9: #999,
    a: #aaa,
    b: #bbb,
    c: #ccc,
    d: #ddd,
    e: #eee
);

@each $index, $color in $accent-colors {
    .accent-#{$index} {
        color: $color;
        // border-color: $color
    }

    .bg-accent-#{$index} {
        background-color: $color;
        // border-color: $color
    }
}

@mixin bg-color($color: $background-color-light) {
    background-color: $color;
}

@mixin text-color($color: $text-color-light) {
    color: $color;
}

@mixin backdrop-small($color, $alpha: -0.5) {
    background-color: color.adjust($color, $alpha: -0.5);
    box-shadow: 0 0 10px $color;
}

// Light (default) theme

.bg-color {
    @include bg-color($background-color-light);
    @include text-color($text-color-light);
}

body {
    @include bg-color($background-color-light);
    @include text-color($text-color-light);
}

.backdrop-small {
    @include backdrop-small($background-color-light, $alpha: -0.5);
}

hr {
    border-color: $text-color-light;
}

// Dark Theme (also allow forcing with body[dark])

@media only screen and (prefers-color-scheme: dark) {
    body {
        @include bg-color($background-color-dark);
        @include text-color($text-color-dark);
    }

    .bg-color {
        @include bg-color($background-color-dark);
        @include text-color($text-color-dark);
    }

    .backdrop-small {
        @include backdrop-small($background-color-dark);
    }

    hr {
        border-color: $text-color-dark;
    }
}

body[dark] {
    @include bg-color($background-color-dark);
    @include text-color($text-color-dark);
    .bg-color {
        @include bg-color($background-color-dark);
        @include text-color($text-color-dark);
    }
    .backdrop-small {
        @include backdrop-small($background-color-dark);
    }

    hr {
        border-color: $text-color-dark;
    }
}

.fg-light-color {
    color: $text-color-light;
    hr {
        border-color: $text-color-light;
    }
}

.fg-dark-color {
    color: $text-color-dark;
    hr {
        border-color: $text-color-dark;
    }
}

// Gradients

@function lingrad1($deg, $color) {
    $c1: color.adjust($color, $lightness: -30%);
    $c2: $color;
    @return linear-gradient($deg, $c1 0%, $c2 100%);
}

@function lingrad2($deg, $color1, $color2) {
    @return linear-gradient($deg, $color1 0%, $color2 100%);
}

// Variations on the accent colors

@each $index, $color in $accent-colors {
    .bg-gradient-a#{$index} {
        background: lingrad1($deg: 103deg, $color: $color);
    }

    @each $index2, $color2 in $accent-colors {
        @if $color2 != $color {
            .bg-gradient-a#{$index}-a#{$index2} {
                background: lingrad2($deg: 45deg, $color1: $color, $color2: $color2);
            }
        }
    }
}

// Get white or black for title text

@function getTextColor($color: white) {
    @if color.blackness($color) < 10% {
        @return white;
    } @else {
        @return black;
    }
}