// Defines all of the fonts used

$font-path: "/font";
$font-extension: ".woff2";

@font-face {
    font-family: extrabold;
    src: url($font-path + '/LeagueMono-ExtraBold' + $font-extension);
}

@font-face {
    font-family: bold;
    src: url($font-path + '/LeagueMono-Bold' + $font-extension);
}

@font-face {
    font-family: semibold;
    src: url($font-path + '/LeagueMono-SemiBold' + $font-extension);
}

@font-face {
    font-family: medium;
    src: url($font-path + '/LeagueMono-Medium' + $font-extension);
}

@font-face {
    font-family: regular;
    src: url($font-path + '/LeagueMono-Regular' + $font-extension);
}

@font-face {
    font-family: thin;
    src: url($font-path + '/LeagueMono-Thin' + $font-extension);
}

@font-face {
    font-family: light;
    src: url($font-path + '/LeagueMono-Light' + $font-extension);
}

@font-face {
    font-family: ultralight;
    src: url($font-path + '/LeagueMono-UltraLight' + $font-extension);
}

// Define which elements use these fonts

body {
    font-family: light
}

h1, h2, h3 {
    font-family: title
}

h4, h5, h6 {
    font-family: semibold
}