// Styling for Form elements

@use 'sass:map';

@use 'colors';
@use 'layout';

$error-color: colors.$error-color;
$disabled-color: #999;
$input-bg-color: white;
$fieldset-margin: layout.$default-margin * 2;
$body-padding: layout.$default-margin * 2;
$form-font: light;
$accent-color: map.get(colors.$accent-colors, 1);
$border-radius: 5px;

%form {
    &:not(.no-margin) {
        margin: (layout.$default-margin * 2) 0;
    }
}

%form-body {
    border-left: 1px solid colors.$border-color-light;
    border-bottom: 1px solid colors.$border-color-light;
    border-right: 1px solid colors.$border-color-light;
    border-top: 0px;
    padding: $body-padding;
    @media only screen and (prefers-color-scheme: dark) {
        & {
            border-color: colors.$border-color-dark;
        }
    }
    body[dark] & {
        border-color: colors.$border-color-dark;
    }
}

form {
    @extend %form;
}

form .body {
    @extend %form-body;
}

.form {
    @extend %form;
}

.form .body {
    @extend %form-body;
}

fieldset {
    border: 0;
    padding: 0;
    margin: $fieldset-margin 0;
}

fieldset.required label::after {
    content: "•";
    font-size: 1.5em;
    color: $error-color;
    vertical-align: middle;
}

fieldset.error .errorText {
    color: $error-color;
}

fieldset.error label {
    color: $error-color;
}

label {
    display: block;
    margin-bottom: layout.$default-margin;
    &:not(.option) {
        font-family: semibold;
    }
}

legend {
    font-family: bold;
    text-align: center;
}

// Input elements

%input-element {
    font-family: $form-font;
    padding: layout.$default-margin;
    border-radius: $border-radius;
    border: 1px solid colors.$border-color-light;
    @media only screen and (prefers-color-scheme: dark) {
        & {
            border-color: colors.$border-color-dark;
        }
    }
    body[dark] & {
        border-color: colors.$border-color-dark;
    }
    &[disabled] {
        background-color:$disabled-color;
    }
}

%vertical-resize {
    min-height: 16px;
    resize: vertical;
}

select {
    @extend %input-element;
    background-color: $input-bg-color;
    &[multiple] {
        @extend %vertical-resize;
        min-height: 56px; // This element resizes differently from the textarea
    }
}

textarea {
    @extend %input-element;
    border-radius: $border-radius $border-radius 0px $border-radius;
    @extend %vertical-resize;
}

input {
    accent-color: $accent-color;
    &:not([type="image"]):not([type="button"]):not([type="reset"]):not([type="submit"]) {
        @extend %input-element;
    }
    &[type="image"] {
        width: 100%;
    }
}
