// Styling for Form elements

@use 'colors';
@use 'layout';

$border-color: #aaa;
$error-color: colors.$error-color;
$disabled-color: #999;
$fieldset-margin: layout.$default-margin * 2;
$body-padding: layout.$default-margin * 2;
$form-font: light;
// $form-font-size: 16px;

form {
    margin: (layout.$default-margin * 2) 0;
}

form .body {
    border-left: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    border-right: 1px solid $border-color;
    border-top: 0px;
    padding: $body-padding;
}

fieldset {
    border: 0;
    padding: 0;
    margin: $fieldset-margin 0;
}

fieldset.required label::after {
    content: "•";
    font-size: 1.5em;
    color: $error-color;
    vertical-align: middle;
}

fieldset.error .errorText {
    color: $error-color;
}

fieldset.error label {
    color: $error-color;
}

label {
    display: block;
    margin-bottom: layout.$default-margin;
    &:not(.option) {
        font-family: semibold;
    }
}

// Input elements

%input-element {
    font-family: $form-font;
    padding: layout.$default-margin;
    border-radius: 5px;
    border: 1px solid $border-color;
    &[disabled] {
        background-color:$disabled-color;
    }
}

select {
    @extend %input-element;
}

textarea {
    @extend %input-element;
    border-radius: 5px 5px 0px 5px;
}

input {
    @extend %input-element;
}