// Contains classes used with icons

@use "layout";

.icon {
    margin: auto (layout.$default-margin);
    width: 24px;
    height: 24px;
    &.left {
        margin-left: 0;
    }
    &.right {
        margin-right: 0;
    }
}

$btn-bg-hover-color-light: #00000044;
$btn-bg-hover-color-dark: #ffffff88;


// Icon Button
.icon-btn {
    padding: 4px;
    width: 24px;
    height: 24px;
    border-radius: 16px;
    cursor: pointer;
    &:hover {

        background-color: $btn-bg-hover-color-light;

        @media only screen and (prefers-color-scheme: dark) {
            &:not(.dark-backdrop):not(.light-backdrop) {
                background-color: $btn-bg-hover-color-dark;
            }
        }


        body[dark] &:not(.light-backdrop), &.dark-backdrop {
            background-color: $btn-bg-hover-color-dark;
        }

        &.light-backdrop {
            background-color: $btn-bg-hover-color-light;
        }
    }
}