// Contains the main boilerplate

@use 'colors';
@use 'fonts';
@use 'layout';

// Components
@use 'banner';
@use 'cards';
@use 'textSection';
@use 'appBar';
@use 'form';
@use 'table';
@use 'chips';
@use "dialogs";
@use 'icons';
@use 'badge';

// Project-specific components
// For the Website
@use './website/header.scss';
@use './website/footer.scss';
@use './website/article-brief.scss';
@use './website/nav.scss';
@use './website/share-bar.scss';
@use './website/link-button.scss';

.vbar {
    border-left: layout.$default-margin solid currentColor;
    padding-left: layout.$default-margin;
}

.hbar {
    border-bottom: 1px solid currentColor;
}

// Links

a:link, a:visited {
    color: colors.$link-color-normal;
    text-decoration: none;
}

a:hover, a:active {
    color: colors.$link-color-hover;
    text-decoration: none;
}

// Other elements

hr {
    border-style: solid;
    margin: (layout.$default-margin * 2) 0;
}

kbd {
    border-radius: 2px;
    border: 1px solid black;
    padding: 2.5px;
    color: black;
    background-color: white;
    font-family: light;
}

kbd.dark {
    background-color: #111;
    border-color: white;
    color: white;
}

// Buttons

button, input[type="button"], input[type="submit"], input[type="reset"] {
    padding: (layout.$default-margin * 2);
    font-family: medium;
    border-radius: 2px;
    border: 1px solid currentColor;
    color: currentColor;
    background-color: transparent;
    &:hover {
        border-color: transparent;
        color: colors.$background-color-light;
        background-color: colors.$text-color-light;
        @media only screen and (prefers-color-scheme: dark) {
            color: colors.$background-color-dark;
            background-color: colors.$text-color-dark;
        }
        body[dark] & {
            color: colors.$background-color-dark;
            background-color: colors.$text-color-dark;
        }
    }
    @each $index, $color in colors.$accent-colors {
        .accent-#{$index} {
            border-color: $color;
            color: $color;
        }

        &:hover.accent-#{$index} {
            border-color: transparent;
            background-color: $color;
            color: colors.getTextColor($color);
        }
    }
}

// Special Backgrounds

.bg-blur {
    backdrop-filter: blur(10px);
}

.bg-darken {
    background-color: #00000077;
}

.bg-lighten {
    background-color: #FFFFFF77;
}

.bg-img {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

// Figures

figure {
    margin: (layout.$default-margin * 2);
    padding: (layout.$default-margin * 2);
    background-color: colors.$dark-color;
    & img {
        width: 100%;   
    }
    & figcaption {
        margin-top: (layout.$default-margin * 2);
        color: colors.$text-color-dark;
        font-family: semibold;
        text-align: center;
        & .figure {
            color: #ccc;
            font-family: ultralight;
        }
    }
}