// Contains the main boilerplate

@use 'colors';
@use 'fonts';
@use 'layout';

// Component styling
@use 'banner';

.vbar {
    border-left: layout.$default-margin solid currentColor;
    padding-left: layout.$default-margin;
}

.hbar {
    border-bottom: 1px solid currentColor;
}

// Links

a:link, a:visited {
    color: colors.$link-color-normal;
    text-decoration: none;
}

a:hover, a:active {
    color: colors.$link-color-hover;
    text-decoration: none;
}

// hr

hr {
    border-style: solid;
    margin: (layout.$default-margin * 2) 0;
}