@use 'sass:math';

$img_circle_size: 256px;

.landing_circle {
    width: $img_circle_size;
    height: $img_circle_size;
    border-radius: math.div($img_circle_size, 2);
    overflow: hidden;
}

.landing_circle > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}