// Contains the banners (used to be called flashcards and titlecards)

@use 'colors';
@use "sass:map";

// Sizes
$banner-size: 100vh;
$banner-short-size: 75vh;
$title-banner-size: min(50vh, 680px); // @TODO Change this later

$default-bg-color: map.get(colors.$accent-colors, 1);

$title-font-size: 3em;
$subtitle-font-size: 1.5em;

%gen-banner {    
    background-attachment: fixed;
    // We add flex to have it built-in
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    &.img {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
}

%banner-fonts {
    h1 {
        font-size: $title-font-size;
    }
    p {
        font-size: $subtitle-font-size;
    }
}

.banner {
    @extend %gen-banner;
    height: $banner-size;
    &:not(.no-title-resize) {
        @extend %banner-fonts;
    }
}

.banner-short {
    @extend %gen-banner;
    height: $banner-short-size;
    &:not(.no-title-resize) {
        @extend %banner-fonts;
    }
}

.title-banner {
    @extend %gen-banner;
    height: $title-banner-size;
    &:not(.no-title-resize) {
        @extend %banner-fonts;
    }
}

// This allows a footer to be inserted along with the rest of a banner
.banner-footer-wrapper {
    position: relative;

}

.banner-footer {
    font-size: unset;
    min-height: 32px;
    margin: 0;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}